body{
  background-color: lightblue;
}

h1{
  text-align: center;
  color: navy;
  font-family: 'Arial', sans-serif;
}

div{
  color: white;
  background-color: grey;
  border: 2px solid black;
  padding: 10px;
  margin: 10px auto;
  width: fit-content;
}

.confetti{
  position: fixed;
  z-index: 2000;
}

@keyframes confetti-fall {
    0% {
      opacity: 1;
      transform: translateY(0) rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: translateY(100vh) rotate(720deg);
    }
  }